<div class="container mt-5 mb-5 p-5 bg-custom">
    <div class="row">
        <div class="col-md-12">

            <h2 class="text-center">keyup task</h2>
            <!-- task 1 -->
            <h3 class="mt-3">Product Search</h3>
            <div class="form-group">
                <input (keyup)="onsearch($event)" type="text" class="form-control" placeholder="Enter Product Name">
            </div>

            <!-- task 2 -->
            <h3 class="mt-3">Student Search</h3>
            <div class="form-group">
                <input (keyup)="onstudentSearch($event)" type="text" class="form-control" placeholder="Enter Student Name">
            </div>

            <!-- task 3 -->
            <h3 class="mt-3">Book Search</h3>
            <div class="form-group">
                <input 
                (keyup)="onBooksearch($event)"
                type="text" class="form-control" placeholder="Enter Book Name">
            </div>

            <!-- task 4 -->
            <h3 class="mt-3">Post Search</h3>
            <div class="form-group">
                <input 
                (keyup)="onPostsearch($event)"
                type="text" class="form-control" placeholder="Enter Post Name">
            </div>

            <!-- task 5 -->
             <h3 class="mt-3">Food Search</h3>
             <div class="form-group">
                <input 
                (keyup)="onFoodsearch($event)"
                placeholder="Enter Food Name"
                type="text" class="form-control">
             </div>

             <!-- task 6 -->
             <h3 class="mt-3">Employee Search</h3>
             <div class="form-group">
                <input 
                (keyup)="onEmployeesearch($event)"
                placeholder="Enter Employee Name"
                type="text" class="form-control">
             </div>

             <!-- task 7 -->
             <h3 class="mt-3">Fruits Search</h3>
             <div class="form-group">
                <input 
                (keyup)="onFruitsearch($event)"
                placeholder="Enter Fruit Name"
                type="text" class="form-control">
             </div>

             <!-- task 8 -->
             <h3 class="mt-3">Bird Search</h3>
             <div class="form-group">
                <input 
                (keyup)="onBirdsearch($event)"
                placeholder="Enter Bird Name"
                type="text" class="form-control">
             </div>

             <!-- task 8 -->
             <h3 class="mt-3">Animal Search</h3>
             <div class="form-group">
                <input 
                (keyup)="onAnimalsearch($event)"
                placeholder="Enter Animal Name"
                type="text" class="form-control">
             </div>

             <!-- task 9 -->
             <h3 class="mt-3">Song Search</h3>
             <div class="form-group">
                <input 
                (keyup)="onSongsearch($event)"
                placeholder="Enter Song Name"
                type="text" class="form-control">
             </div>

             <!-- task 10 -->
             <h3 class="mt-3">Color Search</h3>
             <div class="form-group">
                <input 
                (keyup)="onColorsearch($event)"
                placeholder="Enter Color Name"
                type="text" class="form-control">
             </div>

        </div>
    </div>
</div>