<div class="container mt-5 mb-5 p-5 bg-custom">
    <div class="row">
        <div class="col-md-12">

            <h2 class="text-center">View Child Decorater task</h2>
            <!-- task 1 -->
            <h3 class="mt-3">Product Search</h3>
            <div class="form-group">
                <input #productname type="text" class="form-control" placeholder="Enter Product Name">
                <button (click)="onProductSearch()" class="btn btn-sm btn-block btn-outline-primary mt-2">Search
                    Product</button>
            </div>

            <!-- task 2 -->
            <h3 class="mt-3">Color Search</h3>
            <div class="form-group">
                <input #colorname type="text" placeholder="Enter Color Name" class="form-control">
                <button (click)="onColorSearch()" class="btn btn-sm btn-block btn-outline-primary mt-2">Search
                    Color</button>
            </div>

            <!-- task 3 -->
            <h3 class="mt-3">Song Search</h3>
            <div class="form-group">
                <input #songname type="text" placeholder="Enter Song Name" class="form-control">
                <button (click)="onSongSearch()" class="btn btn-sm btn-block btn-outline-primary mt-2">Search
                    Song</button>
            </div>

            <!-- task 4 -->
            <h3 class="mt-3">Animal Search</h3>
            <div class="form-group">
                <input #animalname type="text" placeholder="Enter Animal Name" class="form-control">
                <button (click)="onAnimalSearch()"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Search Animal</button>
            </div>

            <!-- task 5 -->
            <h3 class="mt-3">Bird Search</h3>
            <div class="form-group">
                <input #birdname type="text" placeholder="Enter Bird Name" class="form-control">
                <button (click)="onBirdSearch()" class="btn btn-sm btn-block btn-outline-primary mt-2">Search
                    Bird</button>
            </div>

            <!-- task 6 -->
            <h3 class="mt-3">Fruit Search</h3>
            <div class="form-group">
                <input #fruitname type="text" placeholder="Enter Fruit Name" class="form-control">
                <button (click)="onFruitSearch()" class="btn btn-sm btn-block btn-outline-primary mt-2">Search
                    Fruit</button>
            </div>

            <!-- task 7 -->
            <h3 class="mt-3">Employee Search</h3>
            <div class="form-group">
                <input #employeename type="text" placeholder="Enter Employee Name" class="form-control">
                <button (click)="onEmployeeSearch()"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Search Employee</button>
            </div>

            <!-- task 8 -->
            <h3 class="mt-3">Food Search</h3>
            <div class="form-group">
                <input #foodname type="text" placeholder="Enter Food Name" class="form-control">
                <button (click)="onFoodSearch()" class="btn btn-sm btn-block btn-outline-primary mt-2">Search
                    Food</button>
            </div>

            <!-- task 9 -->
            <h3 class="mt-3">Post Search</h3>
            <div class="form-group">
                <input #postname type="text" placeholder="Enter Post Name" class="form-control">
                <button (click)="onPostSearch()" class="btn btn-sm btn-block btn-outline-primary mt-2">Search
                    Post</button>
            </div>

            <!-- task 10 -->
            <h3 class="mt-3">Student Search</h3>
            <div class="form-group">
                <input #studentname type="text" placeholder="Enter Student Name" class="form-control">
                <button (click)="onStudentSearch()"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Search Student</button>
            </div>

        </div>
    </div>
</div>