<div class="container mt-5 mb-5 p-5 bg-custom">
    <div class="row">
        <div class="col-md-12">

            <h2 class="text-center">Element Referance task</h2>

            <!-- task 1 -->
            <h3 class="mt-3">Product Search</h3>
            <div class="form-group">
                <input #productname type="text" class="form-control" placeholder="Enter Product Name">
                <button (click)="onProductSearch(productname)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Search Product</button>
            </div>

            <!-- task 2 -->
            <h3 class="mt-3">Color Search</h3>
            <div class="form-group">
                <input #colorname type="text" 
                placeholder="Enter Color Name"class="form-control">
                <button (click)="onColorSearch(colorname)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Search Color</button>
            </div>

            <!-- task 3 -->
            <h3 class="mt-3">Song Search</h3>
            <div class="form-group">
                <input #songname type="text" 
                placeholder="Enter Song Name"class="form-control">
                <button (click)="onSongSearch(songname)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Search Song</button>
            </div>

            <!-- task 4 -->
            <h3 class="mt-3">Animal Search</h3>
            <div class="form-group">
                <input #animalname type="text" 
                placeholder="Enter Animal Name"class="form-control">
                <button (click)="onAnimalSearch(animalname)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Search Animal</button>
            </div>

            <!-- task 5 -->
            <h3 class="mt-3">Bird Search</h3>
            <div class="form-group">
                <input #birdname type="text" 
                placeholder="Enter Bird Name"class="form-control">
                <button (click)="onBirdSearch(birdname)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Search Bird</button>
            </div>

            <!-- task 6 -->
            <h3 class="mt-3">Fruit Search</h3>
            <div class="form-group">
                <input #fruitname type="text" 
                placeholder="Enter Fruit Name"class="form-control">
                <button (click)="onFruitSearch(fruitname)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Search Fruit</button>
            </div>

            <!-- task 7 -->
            <h3 class="mt-3">Employee Search</h3>
            <div class="form-group">
                <input #employeename type="text"
                placeholder="Enter Employee Name" class="form-control">
                <button (click)="onEmployeeSearch(employeename)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Search Employee</button>
            </div>

            <!-- task 8 -->
            <h3 class="mt-3">Food Search</h3>
            <div class="form-group">
                <input #foodname type="text" 
                placeholder="Enter Food Name"class="form-control">
                <button (click)="onFoodSearch(foodname)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Search Food</button>
            </div>

            <!-- task 9 -->
            <h3 class="mt-3">Post Search</h3>
            <div class="form-group">
                <input #postname type="text" 
                placeholder="Enter Post Name"class="form-control">
                <button (click)="onPostSearch(postname)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Search Post</button>
            </div>

            <!-- task 10 -->
            <h3 class="mt-3">Student Search</h3>
            <div class="form-group">
                <input #studentname type="text" 
                placeholder="Enter Student Name"class="form-control">
                <button (click)="onStudentSearch(studentname)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Search Student</button>
            </div>

            <!-- task 11 -->
             <h3 class="mt-3">Addition of two Number</h3>
            <div class="form-group">

                <input #num1 type="text" 
                placeholder="Enter First Number"class="form-control">
                <input #num2 type="text" 
                placeholder="Enter Second Number"class="form-control mt-1">

                <button (click)="onAddition(num1, num2)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Click to Add</button>
            </div>

            <!-- task 12 -->
             <h3 class="mt-3">Substaction of two Number</h3>
            <div class="form-group">

                <input #num3 type="text" 
                placeholder="Enter First Number"class="form-control">
                <input #num4 type="text" 
                placeholder="Enter Second Number"class="form-control mt-1">

                <button (click)="onSubstaction(num3, num4)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Click to Subtraction</button>
            </div>

            <!-- task 13 -->
             <h3 class="mt-3">Multiply of two Number</h3>
            <div class="form-group">

                <input #num5 type="text" 
                placeholder="Enter First Number"class="form-control">
                <input #num6 type="text" 
                placeholder="Enter Second Number"class="form-control mt-1">

                <button (click)="onMultiply(num5, num6)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Click to Multiply</button>
            </div>

             <!-- task 14 -->
             <h3 class="mt-3">Division of two Number</h3>
            <div class="form-group">

                <input #num7 type="text" 
                placeholder="Enter First Number"class="form-control">
                <input #num8 type="text" 
                placeholder="Enter Second Number"class="form-control mt-1">

                <button (click)="onDivision(num7, num8)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Click to Division</button>
            </div>

            <!-- task 15 -->
             <h3 class="mt-3">Modulus</h3>
            <div class="form-group">

                <input #num9 type="text" 
                placeholder="Enter First Number"class="form-control">
                <input #num10 type="text" 
                placeholder="Enter Second Number"class="form-control mt-1">

                <button (click)="onModulus(num9, num10)"
                    class="btn btn-sm btn-block btn-outline-primary mt-2">Click to Modulus</button>
            </div>

        </div>
    </div>
</div>